<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/posts/new">Create a new adoptable animal</a>
    <h2>Local Adoptable Animals</h2>
    <ul>
        <% for (let i=0; i < allPosts.length; i++) { %>
        <li>
            <a href="/posts/<%= allPosts[i].id %>">
                <img src="<%= allPosts[i].img %>"/> 
                <%= allPosts[i].name %>
            </a>
        </li>
    <% } %>
    </ul>
</body>
</html>