<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <h2>Add a new adoptable animal</h2>
    <form action="/posts" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Please put name of animal"/>

        <label for="img">Image Address</label>
        <input type="text" name="img" id="img" placeholder="Please put image address"/>

        <label for="age">Age</label>
        <input type="text" name="age" id="age" placeholder="Animal Age"/>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Describe your animal"/>

        <input type="checkbox" name="trained" id="trained"/>
        <label for="trained">Trained?</label>

        <label for="breed">Breed</label>
        <input type="text" name="breed" id="breed" placeholder="type of breed i.e. German Shepard"/>

        <hr>
        <input type="submit" value="Create new adoption post"/>
    </form>
    
</body>
</html>