img {
    height: 300px; 
    width: 300px; 
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
    background-color: #99e6ff;
    color: white; 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links a {
    text-decoration: none;
    padding: 0px 25% 0px 0px; 
    color: white
}

.nav_links a:hover {
  font-size: 20px;
}
.nav_list li {
    list-style-type: none;
    padding: 0px 0px 5px 0px; 
}

.btn {
    background-color: black;
    color: white; 
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.btn:hover {
    background-color: red;
    color: white; 
}

/* .index {
    background-image: url("https://t3.ftcdn.net/jpg/01/96/83/20/360_F_196832044_ISa3G24W2dmiW5X94hJq59Cs8uHat8I1.jpg");
    background-size: contain;

} */
.indexTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    margin-top: 35px;
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 80%; */
    margin: 0 10% 10% 10%;  
}
.cards li {
    background-color: #99e6ff;
    list-style-type: none;
    height: 500px;
    width: 300px; 
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.cards a {
    text-decoration: none;
    color:white; 
    font-size: 20px;
}

.container-show {
    display: grid; 
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
}

.img-show {
    display: grid;
    justify-self: start;
    margin: 20px; 
}